
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>เว็บไซต์วินิจฉัยโรคในใบอ้อยโดยใช้เทคนิคการเรียนรู้เชิงลึก กรณีโรคเส้นกลางใบแดง</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200;300&display=swap" rel="stylesheet">
 
 
 
 <script>
  window.console = window.console || function(t) {};

</script>
  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
</head>
<body>
<!-- partial:index.partial.html -->
<nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="static/image/Sugarcane.png" alt="" width="70" height="70">
                </a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="{{ url_for('index') }}">หน้าแรก</a></li>
                    <li><a href="{{ url_for('system') }}">วินิจฉัยโรคในใบอ้อย</a></li>
                    <li><a href="{{ url_for('help') }}">ช่วยเหลือ</a></li>
                    <li><a href="{{ url_for('login') }}">ลงชื่อเข้าใช้</a></li>
                </ul>
            </div>
            
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
            
        </div>

    </nav>
   <div class="home">
    <section >
       
    </section>
    <p>เว็บไซต์วินิจฉัยโรคในใบอ้อย</p>
</div>
    <br>
<br>
<br>


    {% block bodyblock %}

        

    {% endblock %}

<br>
<footer class="footer-distributed">

			<div class="footer-left" >

				<h3>เว็บไซต์วินิจฉัยโรคในใบอ้อย<br><span>กรณีโรคเส้นกลางใบแดง</span></h3>
                    <p>		Web Application เพื่อให้สามารถวินิจฉัยและบอกคำแนะนำในการแก้ปัญหากับผู้ใช้งานหรือเกษตรกร</p>
				<p class="footer-links">
					
					<a href="{{ url_for('index') }}" class="link-1">หน้าแรก</a>
                    <a href="{{ url_for('system') }}">วินิจฉัยโรคในใบอ้อย</a>
                    <a href="{{ url_for('help') }}">ช่วยเหลือ</a>
                    <a href="{{ url_for('login') }}">ลงชื่อเข้าใช้</a>
				</p>

                <p class="footer-company-name">มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น © </p>
				<p class="mail"><a href="https://mail.google.com/mail/u/0/?view=cm&ui=2&tf=0&fs=1&to=sugarcane.rmuti@gmail.com"><span class="__cf_email__" data-cfemail="aedddbdedec1dcdaeecdc1c3decfc0d780cdc1c3">sugarcane.rmuti@gmail.com</span></a></p>
				
			</div>

	


		</footer>
  

<!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
<!-- partial -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f7df93df0e7167d001705c1/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  
  <style>
 


    @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
    html,
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Prompt', sans-serif;
        font-size: 62.5%;
        font-size: 10px;
        background-color: rgb(243, 250, 248);
    }
    /*-- Inspiration taken from abdo steif -->
    /* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/
    
    /* Navbar section */
    
    .nav {
        width: 100%;
        height: 65px;
        position: fixed;
        line-height: 65px;
        text-align: center;
    }
    
    .nav div.logo {
        float: left;
        width: auto;
        height: auto;
        padding-left: 3rem;
    }
    
    .nav div.logo a {
        text-decoration: none;
        color: #fff;
        font-size: 2.5rem;
    }
    
    .nav div.logo a:hover {
        color: #00E676;
    }
    
    .nav div.main_list {
        height: 65px;
        float: right;
    }
    
    .nav div.main_list ul {
        width: 100%;
        height: 65px;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .nav div.main_list ul li {
        width: auto;
        height: 65px;
        padding: 0;
        padding-right: 3rem;
    }
    
    .nav div.main_list ul li a {
        text-decoration: none;
        color: rgb(179, 179, 179);
        line-height: 65px;
        font-size: 1.8rem;
    }
    
    .nav div.main_list ul li a:hover {
        color: #00E676;
    }
    
    
    /* Home section */
    
    .home {
        width: 100%;
        height: 100vh;
        background-image: url(https://scontent.fkkc3-1.fna.fbcdn.net/v/t1.15752-9/119988383_1222000804822646_7859441479596816034_n.jpg?_nc_cat=101&_nc_sid=b96e70&_nc_ohc=lsHFpOTSqfsAX9hbHH_&_nc_ht=scontent.fkkc3-1.fna&oh=7c40b53be9c39727e0c3d653a637087b&oe=5F916893);
        background-position: center top;
        background-size:cover;
      
    }
    .home p{
        color: #c4c3c3;
        text-align: center;
        font-size: 60px;
        padding: 10% 10%;
    }
    
    .navTrigger {
        display: none;
    }
    
    .nav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    
    
    /* Media qurey section */
    
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .container {
            margin: 0;
        }
    }
    
    @media screen and (max-width:768px) {
        .navTrigger {
            display: block;
        }
        .nav div.logo {
            margin-left: 15px;
        }
        .nav div.main_list {
            width: 100%;
            height: 0;
            overflow: hidden;
        }
        .nav div.show_list {
            height: auto;
            display: none;
        }
        .nav div.main_list ul {
            flex-direction: column;
            width: 100%;
            height: 100vh;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgb(255, 255, 255);
            /*same background color of navbar*/
            background-position: center top;
        }
        .nav div.main_list ul li {
            width: 100%;
            text-align: right;
        }
        .nav div.main_list ul li a {
            text-align: center;
            width: 100%;
            font-size: 3rem;
            padding: 20px;
        }
        .nav div.media_button {
            display: block;
        }
    }
    
    
    /* Animation */
    /* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
    
    .navTrigger {
        cursor: pointer;
        width: 30px;
        height: 25px;
        margin: auto;
        position: absolute;
        right: 30px;
        top: 0;
        bottom: 0;
    }
    
    .navTrigger i {
        background-color: rgb(179, 179, 179);
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
    }
    
    .navTrigger i:nth-child(1) {
        -webkit-animation: outT 0.8s backwards;
        animation: outT 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }
    
    .navTrigger i:nth-child(2) {
        margin: 5px 0;
        -webkit-animation: outM 0.8s backwards;
        animation: outM 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }
    
    .navTrigger i:nth-child(3) {
        -webkit-animation: outBtm 0.8s backwards;
        animation: outBtm 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }
    
    .navTrigger.active i:nth-child(1) {
        -webkit-animation: inT 0.8s forwards;
        animation: inT 0.8s forwards;
    }
    
    .navTrigger.active i:nth-child(2) {
        -webkit-animation: inM 0.8s forwards;
        animation: inM 0.8s forwards;
    }
    
    .navTrigger.active i:nth-child(3) {
        -webkit-animation: inBtm 0.8s forwards;
        animation: inBtm 0.8s forwards;
    }
    
    @-webkit-keyframes inM {
        50% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(45deg);
        }
    }
    
    @keyframes inM {
        50% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(45deg);
        }
    }
    
    @-webkit-keyframes outM {
        50% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(45deg);
        }
    }
    
    @keyframes outM {
        50% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(45deg);
        }
    }
    
    @-webkit-keyframes inT {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(9px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(9px) rotate(135deg);
        }
    }
    
    @keyframes inT {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            transform: translateY(9px) rotate(0deg);
        }
        100% {
            transform: translateY(9px) rotate(135deg);
        }
    }
    
    @-webkit-keyframes outT {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(9px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(9px) rotate(135deg);
        }
    }
    
    @keyframes outT {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            transform: translateY(9px) rotate(0deg);
        }
        100% {
            transform: translateY(9px) rotate(135deg);
        }
    }
    
    @-webkit-keyframes inBtm {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(-9px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-9px) rotate(135deg);
        }
    }
    
    @keyframes inBtm {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            transform: translateY(-9px) rotate(0deg);
        }
        100% {
            transform: translateY(-9px) rotate(135deg);
        }
    }
    
    @-webkit-keyframes outBtm {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(-9px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-9px) rotate(135deg);
        }
    }
    
    @keyframes outBtm {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            transform: translateY(-9px) rotate(0deg);
        }
        100% {
            transform: translateY(-9px) rotate(135deg);
        }
    }
    
    .affix {
        padding: 0;
        background-color: rgb(255, 255, 255);
        filter:alpha(opacity="20");
        opacity:0.9;
    }
    
    .myH2 {
        text-align:center;
        font-size: 1.8rem;
    }
    .myP {
        text-align: justify;
        padding-left:15%;
        padding-right:15%;
        font-size: 20px;
    }
    @media all and (max-width:700px){
        .myP {
            padding:2%;
        }
    }




@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
font-family: 'Prompt', sans-serif;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;

  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: rgb(83, 114, 100);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    width: 100%;
	text-align: center;
	font: bold 16px sans-serif;
	padding:20px 20px;
}

.footer-distributed .footer-left
{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 100%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 25px 'Open Sans', cursive;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}
.footer-distributed  p{
	color:  #ffffff;
	font: normal 16px 'Open Sans', cursive;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

.footer-distributed h3 span{
	color:  rgb(168, 238, 183);
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */


.footer-distributed .footer-left i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-leftr i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-left p span{
	display:block;
	font-weight: normal;
	font-size:16px;
	line-height:2;
}

.footer-distributed .footer-left p a{
	color: rgb(255, 255, 255);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:100%;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left
	{
		display: block;

	}

	.footer-distributed .footer-left i{
		margin-left: 0;
	}

}
  </style>
  <script  src="./script.js"></script>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script id="rendered-js" >
    $('.navTrigger').click(function () {
      $(this).toggleClass('active');
      console.log("Clicked menu");
      $("#mainListDiv").toggleClass("show_list");
      $("#mainListDiv").fadeIn();
    
    });
    //# sourceURL=pen.js
        </script>
</body>
</html>
