{% extends 'base.html' %}

{% block bodyblock %}
    <br>
    <br>
    <br>
    <div class="gender" align="center">
        <form action="/img" method="POST" enctype="multipart/form-data">
                <input type="file" name="imgs" >
                <input type="submit" name="" id="">
        </form>
        <br>
        <br>
                <img src="/static/img/{{name_img}}" alt="" width="{{ w }}" height="200">
                <img src="/static/cv/{{name_img}}" alt="" width="{{ w }}" height="200"> <br><br>
               
                
    </div>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
<div class="about-container">
    <div class="about-text">
        <br>
        {%if param1 == 'Not normal'%}
        <input type="input" value="โรคเส้นกลางใบแดง : เปอร์เซ็นการเกิดโรค {{param2}} %  " ><br>
        <p> <h1>สาเหตุของโรค</h1> เกิดจากเชื้อรา Colletotrichum falcatum <br>
            <h1>ความเสียหาย/ความสำคัญ </h1> โรคชนิดนี้สามารถเกิดขึ้นได้ทั้งลำต้นและใบ ถ้าเกิดที่ลำเรา เรียกว่า โรคลำต้นแดง 
        และถ้าเกิดที่ใบ เรียกว่า โรคเส้นกลางใบแดง ซึ่งโรคที่เกิดจากลำต้นและใบเกิดจาก
        เชื้อสาเหตุเดียวกัน พบได้ในแหล่งปลูกอ้อยทั่วประเทศ และสร้างความเสียหายได้ใน
        ระดับหนึ่งบางพันธุ์เป็นโรคถึง 30% และพบอาการเส้นกลางใบแดง 25% ถ้าแสดง
        อาการเส้นกลางใบแดงจะไม่ทำความเสียหายมากนัก เพียงแต่ทำให้อ้อยเหี่ยวแห้งเร็ว
        กว่าปกติ และมักพบเกิดกับใบแก่มากกว่าใบอ่อน อาการของโรคถ้าลามถึงเส้นกาบใบ
        อ่อน ทำให้กาบใบเน่าและมองเห็นเป็นสีแดงทั้งแปลงใบแห้งตายการเป็นโรคทำให้ผล
        ผลิตต่อไร่ลดลง ปริมาณน้ำตาลลดลงด้วย อ้อยตอไม่สามารถเจริญต่อไปได้<br>
        <h1>การแพร่ระบาด</h1> เชื้อราสาเหตุโรคสามารถอยู่ในเศษซากอ้อย และในใบอ้อยที่พบอยู่ในไร่อ้อย หรือ
        บนเศษซากอ้อยที่เป็นโรค จึงสามารถแพร่กระจายเชื้อต่อไปได้โดยสปอร์สามารถกระจายไปกับลมและน้ำฝน<br>
        <h1>การควบคุมโรค/วิธีแก้ไข</h1> 1. ไถแปลงอ้อยตอที่เป็นโรครุนแรงทิ้ง คราดตออ้อยเก่าออกจากพื้นที่ให้หมด<br>
        2. ปลูกพืชอื่นหมุนเวียนในพื้นที่โรคระบาดโดยหลีกเลี่ยงพืชอาศัยของโรค เช่น 
        ข้าวฟ่าง<br>
        3. ตากดินนานเกินกว่า 3 เดือนก่อนปลูกอ้อยใหม่ ปรับปรุงดินกรดด้วยปูนขาว และ
        เตรียมดินให้ระบายน้ำดี<br>
        4. ใช้พันธุ์อ้อยที่ต้านทานหรือต้านทานปานกลางปลูกในพื้นที่ซึ่งมีการระบาดของโรค<br>
        5. คัดเลือกท่อนพันธุ์อ้อยที่สมบูรณ์และไม่เป็นโรคนำมาปลูก<br>
        6. ก่อนปลูกอาจมีการแช่ท่อนพันธุ์อ้อยในสารเคมีกำจัดโรคพืช เบโนมิล 50% 
        ดับบลิวพี อัตรา 20 กรัมต่อน้ำ 20 ลิตร หรือ ไธโอฟาเนตเมธิล 70% ดับบลิวพี อัตรา 
        15 กรัมต่อน้ำ 20 ลิตร นาน 30 นาทีก่อนปลูก และ 0.1% คาร์เบนดาซิม 15 นาที
        ก่อนปลูก และพ่นสารดังกล่าวบริเวณโคนกออ้อยเดือนละครั้ง ระหว่างที่อ้อยอายุ 1-5 
        เดือน ช่วยลดความรุนแรงของโรคได้<br>
        7. ป้องกันกำจัดหนอนเจาะลำต้นอ้อย เพื่อไม่ให้เกิดช่องทางให้เชื้อโรคเข้าสู่ต้นอ้อย<br>
        8. แช่ท่อนพันธุ์ ด้วยน้ำร้อน 52 องศาเซลเซียส เป็นเวลา 4-5 ชั่วโมง หรืออบด้วย
        ไอร้อนชื้นที่ 54 องศาเซลเซียสเป็นเวลา 2 ชั่วโมง<br>
            </p>
        {%endif%}
        {%if param1 == 'normal'%}
        <input type="input" value="ไม่มีโรค : เปอร์เซ็นที่ไม่เกิดโรค {{param2}} % " ><br><br>
        {%endif%}
        <br><br>
    </div>
</div>
    <style>
        .about-container{
            width:60%;
            height:100%;
            background:#fdffff;
            border-radius:20px;
            box-shadow:2px 2px 12px rgba(0,0,0,0.2);
            display: flex;
            margin: -7%  auto 20px auto;
            justify-content:space-evenly;
            align-items: center;
           }
         
           .about-text{
            width:90%;
            font-size:18px;
            
           } 
           .about-text input[value]{
            font-size:20px;
            width: 100%;
            border-color: #fdffff;
           } 
           .about-text h1{
            color:#242323;
            font-family: 'Prompt', sans-serif;
            font-size:20px;
           }
          
    </style>
    <br>
    <br>
    <br>
{% endblock  %}