{% extends 'base.html' %}

{% block bodyblock %}
<br>
<br>
<br>
<br>
    <br>
    <br>
<div class="about-container">
    <!--img-->
   
    <!--about-me-text-->
    <div class="about-text">
        <br>
            <h1>วิธีการใช้งานเว็บวินิจฉัยโรคในใบอ้อย</h1>
            <p>จัดทำโดย นนทวัฒน์ วิชาผา, ปิยวัฒน์ ประสมทรัพย์ </p>

            <li>กดที่เมนูบาร์ "วินิจฉัยโรคในใบอ้อย"</li> 
            <br>
            <div align= "center" >
                <img src="static/image/1.png"  width="80%" height="80%">
            </div><br>
            <li>เลื่อนลงมาแล้วกดที่ปุ่ม "ทำการวินิจฉัย"</li> 
            <br>
            <div align= "center" >
                <img src="static/image/2.png"  width="80%" height="80%">
            </div><br>
            <li>กดที่ปุ่ม "Choose File"</li> 
            <br>
            <div align= "center" >
                <img src="static/image/3.png"  width="80%" height="80%">
            </div><br>
            <li>เลือกภาพที่ต้องการวินิจฉัยโดยภาพต้องเห็นลักษณะของโรคอย่างชัดเจนแล้วกด "Open"</li> 
            <br>
            <div align= "center" >
                <img src="static/image/4.png"  width="80%" height="80%">
            </div><br>
            <li>เมื่อเลือกรูปเสร้จแล้วให้กดที่ "Submit"</li> 
            <br>
            <div align= "center" >
                <img src="static/image/5.png"  width="80%" height="80%">
            </div><br>
            <li>ระบบจะทำการวินิจฉัยแล้วส่งภาพตอบกลับพร้อมวิธีแก้ไขและเปอร์เซ็นความน่าจะเป็นที่จะเกิดโรค ใช้เวลาในการวินิจฉัยประมาณ 3-5 วินาที</li> 
            <br>
            <div align= "center" >
                <img src="static/image/6.png"  width="80%" height="80%">
            </div><br>
        
            
        </div>
    </div>
 
    <br>          
       <br>


<br>
<br>
<br>
<!-- Code injected by live-server -->
<script type="text/javascript">
// <![CDATA[  <-- For SVG support
if ('WebSocket' in window) {
   (function () {
       function refreshCSS() {
           var sheets = [].slice.call(document.getElementsByTagName("link"));
           var head = document.getElementsByTagName("head")[0];
           for (var i = 0; i < sheets.length; ++i) {
               var elem = sheets[i];
               var parent = elem.parentElement || head;
               parent.removeChild(elem);
               var rel = elem.rel;
               if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                   var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                   elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
               }
               parent.appendChild(elem);
           }
       }
       var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
       var address = protocol + window.location.host + window.location.pathname + '/ws';
       var socket = new WebSocket(address);
       socket.onmessage = function (msg) {
           if (msg.data == 'reload') window.location.reload();
           else if (msg.data == 'refreshcss') refreshCSS();
       };
       if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
           console.log('Live reload enabled.');
           sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
       }
   })();
}
else {
   console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
}
// ]]>
</script>


    </div>
      <style>
            .textt{
                background:linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
                ),
                url(https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.15752-9/119730956_1010386249391253_4276675733184047272_n.jpg?_nc_cat=105&_nc_sid=b96e70&_nc_ohc=PBY7ovxYFW4AX9QPb7A&_nc_ht=scontent.fbkk12-2.fna&oh=ac6e08fceffff7f5f824c4ef0dd180b3&oe=5F8CB6D7);
                background-size: cover;
                background-position: center;
                height: 40vh;
                font-size: 35px;
                display: grid;
                align-content: center;
                justify-content: center;
                text-align:center ;
                color:white;
	            margin:20px 100px;
                font-family: 'Prompt', sans-serif;
               
            }


    .about-container{
        width:80%;
        height:100%;
        background:#fdffff;
        border-radius:20px;
        box-shadow:2px 2px 12px rgba(0,0,0,0.2);
        display: flex;
        margin: -7%  auto 20px auto;
       
        justify-content:space-evenly;
        align-items: center;
       }
     
       .about-text{
        width:90%;
        
       } 
       .about-text li{
        font-size:22px;
       }

       .about-text h1{
        color:#3e3d3d;
        font-size:24px;
        font-family: 'Prompt', sans-serif;
        width: 100%;
       }
       .about-text p:nth-child(3),.about-text p:nth-child(4){
        color:#7e7d7d;
        font-family: 'Prompt', sans-serif;
        font-size:12px;
       }
      
    </style>

{% endblock  %}