{% extends 'base.html' %}

{%block bodyblock %}
   

    <div class="container">
           
        <br>
            <br>
            <br>
            <br>
        <div class="about-container">
        <!--img-->
            <img src="static/image/Sugarcane.png"/>
        <!--about-me-text-->
            <div class="about-text">
                <p>เว็บไซต์วินิจฉัยโรคในใบอ้อยโดยใช้เทคนิคการ  </p>
                <p>เรียนรู้เชิงลึก กรณีโรคเส้นกลางใบแดง </p>
                <p> " Web Application เพื่อการวินิจฉัยโรคในใบอ้อยเพื่อให้สามารถวินิจฉัยและบอกคำแนะนำในการแก้ปัญหากับผู้ใช้งานหรือเกษตรกร 
                โดยผู้ใช้งานหรือเกษตรกรทำการเพิ่มรูปใบอ้อยใน Web Application การวินิจฉัยทำได้จากการนำรูปภาพที่ส่งเข้ามา มาวิเคราะห์ผ่านกระบวนการ 
                การเรียนรู้เชิงลึก (Deep Learning) โดยใช้รูปแบบ Convolutional Neural Network เมื่อทำการวิเคราะห์เสร็จ Web Application 
                จะส่งข้อมูลตอบกลับโดยในข้อมูลตอบกลับจะประกอบไปด้วย ชื่อของโรค วันเวลาที่วิเคราะห์ ร้อยละการเกิดโรค และที่วิธีแก้ไขปัญหา 
                ทำให้ผู้ใช้งานหรือเกษตรกรรู้วิธีแก้ไขปัญหาและแก้ไขปัญหาอย่างถูกวิธี "</p>
                <a  href="{{ url_for('page1') }}">Read More</a>
                
            </div>
        </div>
      <br>
      <br>
    <div class="services ">
		<!--text-->

		<div class="box-container">

			<div class="box-1">
			<span>1</span>
			<p class="heading">โรคเส้นกลางใบแดง</p>
			<p class="details">เชื้อสาเหตุของโรคสามารถเข้าทำลายอ้อยทุกส่วน ตั้งแต่เป็นท่อนพันธุ์ ทำให้ท่อนพันธุ์เน่าไม่งอก</p>
			<a  href="{{ url_for('page2') }}">Read More</a>
			</div>
	
			<div class="box-2">
			<span>2</span>
			<p class="heading">CNN</p>
			<p class="details">Convolutional Neural Network คือ Neural Network แบบหนึ่งที่มักถูกนำมาใช้ในงาน Computer Vision หรือ วิเคราะห์รูปภาพ </p>
			<a  href="{{ url_for('page3') }}">Read More</a>
			</div>
	
			<div class="box-3">
			<span>3</span>
			<p class="heading">Deep Learning</p>
			<p class="details">Deep Learning คือสาขาแขนงหนึ่งของ Machine Learning ที่เลียนแบบการทำงาน จากระบบเซลล์ประสาทในสมองของมนุษย์</p>
			<a  href="{{ url_for('page4') }}">Read More</a>
			</div>
		</div>
	</div>
  
   


       <style>


            .about-container{
            width:80%;
            height:350px;
            background:#fdffff;
            border-radius:20px;
            box-shadow:2px 2px 12px rgba(0,0,0,0.2);
            display: flex;
            margin: -7%  auto 20px auto;
           
            justify-content:space-evenly;
            align-items: center;
           }
           .about-container img{
            height:250px;
           }
           .about-text{
            width:500px;
            
           } 
           .about-text p:nth-child(1){
            color:#403e3e;
            font-family: 'Prompt', sans-serif;
            font-weight:bold;
            font-size:20px;
            line-height:0px;
           }
           .about-text p:nth-child(2){
            color:#3e3d3d;
            font-size:20px;
            font-family: 'Prompt', sans-serif;
            font-weight:bold;
            line-height:5px;
           }
           .about-text p:nth-child(3),.about-text p:nth-child(4){
            color:#7e7d7d;
            font-family: 'Prompt', sans-serif;
            font-size:16px;
           }
           .about-text a {
            width:120px;
            height: 40px;
            color:#00E676;
            outline:none;
            border:none;
            font-family: 'Prompt', sans-serif;
           
           }

            .services{
            height:380px;
            background-color:#ffffff;
            padding: 2% 10% 0px 10%;
            }
            .box-container{
            display:flex;
            justify-content:space-between;
            }
            .box-1,.box-2,.box-3{
            width: 400px;
            height:330px;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow:2px 2px 18px rgba(0, 0, 0, 0.3);
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin: 0px 4px;
            
            }
            
            
            .box-1 span,
            .box-2 span,
            .box-3 span{
            width:40px;
            height:40px;
            border-radius:50%;
            color:#FFFFFF;
            background-color:#c4c2c2;
            display: flex;
            justify-content: center;
            align-items:center;
            font-family: 'Prompt', sans-serif;
            font-family: 'Prompt', sans-serif;
            }
            .box-1 p:nth-child(2),
            .box-2 p:nth-child(2),
            .box-3 p:nth-child(2){
            color:#8F8F8F;
            font-family: 'Prompt', sans-serif;
            font-size: 23px;
            line-height:0px;
            }
            .box-1 p:nth-child(3),
            .box-2 p:nth-child(3),
            .box-3 p:nth-child(3){
            font-family: 'Prompt', sans-serif;
            color:#8F8F8F;
            text-align:center;
            width: 230px;
            margin:0px 0px 20px 0px;
            }
            .box-1 a,
            .box-2 a,
            .box-3 a{
            width:100px;
            color:#00E676;
            height:30px;
            border:none;
            outline: none;
            border-radius:5px;
            }


            @media(max-width:1000px){

            .about-container{
            width:90%;
            border-radius: 10px;
            }
            .about-container img{
            height: 200px;
            }
            .about-text{
            width: 400px;
            }
            .about-text p:nth-child(1){
            font-size: 20px;
            }
            .about-text p:nth-child(2){
            font-size: 20px;
            }
            
            .about-text p:nth-child(3),
            .about-text p:nth-child(4){
            font-size: 14px;
            }
            .services{
            padding: 2% 5% 0px 5%;
            }
            .box-container{
            justify-content: center;
            flex-wrap: wrap;
            }
            .services{
            height: auto;
            }
            .box-1,.box-2,.box-3{
            flex-grow: 1;
            margin: 10px;
            }

            }
            @media(max-width:750px){
            .about-container{
            top: 0px;
            flex-direction: column;
            width:90%;
            height: auto;
            padding: 30px 0px;
            align-items: center;
            }
            .about-text{
            width:90%;
            text-align: center;
            }
            .services-text{
            width: 100%;
            }
            
            }






        </style>
        
<br>
<br>
{% endblock  %}