{% extends 'base.html' %}

{%block bodyblock %}
<br>
    <br>
    <br>
    <br>
        <br>
    <br>
<div class="about-container">
    <!--img-->
   
    <!--about-me-text-->
        <div class="about-text">
        <br>
            <h1>การเรียนรู้เชิงลึก (Deep Learning) </h1>
            <p>จัดทำโดย นนทวัฒน์ วิชาผา, ปิยวัฒน์ ประสมทรัพย์ </p><br>
            <div align= "center" >
                <img src="static/image/deep.jpeg"  width="80%" height="80%">
               
            </div><br>
            <ul> การเรียนรู้เชิงลึก (Deep Learning)</ul>
Deep Learning คือสาขาแขนงหนึ่งของ Machine Learning ที่เลียนแบบการทำงาน จากระบบเซลล์ประสาทในสมองของมนุษย์ (Neural Network) โดยโครงสร้างของ Neural Network จะมีลักษณะเหมือนเซลล์ประสาทหลายๆเซลล์เชื่อมต่อกัน เป็นโหนดเชื่อมกัน เรียกว่า Perceptron (เพอร์เซปตรอน) สังเกตว่ามันจะเชื่อมต่อกับเส้นประสาทและเซลล์อื่นอีกหลายๆเส้น 
<br><br><div align= "center" >
                <img src="static/image/deep2.png"  >
               
            </div><br>

            เส้นแต่ละเส้นจะเชื่อมต่อไปเป็นชั้นๆ โดยจะแบ่งออกเป็น 3 Layers ได้แก่<br>
            1.  Input Layer ชั้นที่เป็นส่วนของการรับข้อมูล<br>
            2.  Hidden Layer ชั้นที่เป็นเหมือนระบบเซลล์ประสาทในสมอง<br>
            3.  Output Layer ชั้นที่เป็นส่วนตอบสิ่งที่ประมวลผลออกมา<br>
            ถ้าจะเปรียบเทียบการทำงานให้เหมือนมนุษย์ก็ประมาณว่า ถ้ามนุษย์กำลังมองไปที่ภูเขา Input Layer ก็คือข้อมูลที่สมองเรารับมาจากตา นั่นก็คือภาพภูเขา จากนั้นก็จะส่งภาพต่อไปที่ Hidden Layer ซึ่งเป็นสมอง จากนั้นสมองจะประมวลผลแล้วก็ส่งผลลัพธ์ออกไปที่ Output Layer เพื่อบอกให้รู้ว่าภาพนี้คือภูเขา<br><br>
            
            
            ดังนั้นสมองของมนุษย์ก็เปรียบเหมือน Hidden Layer ที่เชื่อมต่อระหว่าง Input Layer และ Output Layer แต่ในชีวิตจริงสมองของมนุษย์นั้นซับซ้อนกว่าที่เห็นในภาพนี้มาก เพื่อที่จะทำให้ Neural Network นั้นสามารถคิดและประมวลผลซับซ้อนได้เหมือนสมองมนุษย์ ชั้นที่เป็น Hidden Layer จึงต้องมีหลายๆชั้น ให้มันส่งข้อมูลประมวลผลต่อๆกันไป ทำให้มันสามารถคำนวนอะไรที่ซับซ้อนได้เยอะขึ้น ซึ่งเรียกว่า Deep Learning<br><br>
            
            <div align= "center">
                <img src="static/image/Deep3.png" width="80%" height="80%" >
               
            </div><br>
<br>

<br>
            </p>
            
            
        </div>
    </div>
    <br>
    <br>
    <br>
    <style>
        .about-container{
            width:80%;
            height:100%;
            background:#fdffff;
            border-radius:20px;
            box-shadow:2px 2px 12px rgba(0,0,0,0.2);
            display: flex;
            margin: -7%  auto 20px auto;
           
            justify-content:space-evenly;
            align-items: center;
           }
         
           .about-text{
            width:90%;
            
           } 
           .about-text ul{
            font-size:22px;
           }


           .about-text h1{
            color:#3e3d3d;
            font-size:24px;
            font-family: 'Prompt', sans-serif;

            width: 100%;
           }
           .about-text p:nth-child(3),.about-text p:nth-child(4){
            color:#7e7d7d;
            font-family: 'Prompt', sans-serif;
            font-size:12px;
           }
          

    </style>

{% endblock  %}
