{% extends 'base.html' %}
{%block bodyblock %}
<br>
    <br>
    <br>
    <br>
        <br>
    <br>
    <div class="about-container">
    <!--img-->
   
    <!--about-me-text-->
        <div class="about-text">
        <br>
            <p>โรคเส้นกลางใบแดง   </p>
            <p>จัดทำโดย นนทวัฒน์ วิชาผา, ปิยวัฒน์ ประสมทรัพย์ </p><br>
            <div align= "center">
               
                <img src="static/image/A (157).JPG"  >
            </div>
            <p><ul> โรคเส้นกลางใบแดง</ul>
            <li>สาเหตุ</li> 
            เกิดจากเชื้อรา Colletotrichum falcatum
            <li>ลักษณะอาการ</li> 
            เชื้อสาเหตุของโรคสามารถเข้าทำลายอ้อยทุกส่วน ตั้งแต่เป็นท่อนพันธุ์ ทำให้
            ท่อนพันธุ์เน่าไม่งอก ส่วนที่สำคัญและเสียหายมากที่สุด คือ การเข้าทำลายที่ลำตัน
            โดยบริเวณปล้องที่เชื้อเข้าทำลายจะเกิดเป็นสีม่วงที่ภายนอก ต่อมาจะมีอาการ
            ใบเหลืองและแห้งตาย เมื่อผ่าตามความยาวของลำจะเห็นอาการภายในเนื้ออ้อยมีสีแดงสาเหตุของโรคเหี่ยวเข้าร่วมทำลายด้วย จึงเรียกว่าเหี่ยวเน่าแดงสำหรับอาการบนใบ จะเริ่มต้นเป็นจุดยาวบนเส้นกลางใบด้านบนของใบ จุดนี้อาจมีสีน้ำตาลแดงเข้มแล้วเปลี่ยนเป็นสีฟางที่มีขอบสีม่วง และมีจุดดำเล็ก ๆ ในบางครั้งเชื้ออาจเข้าทำลายใบอ้อย ทำให้เกิดเป็นจุดแดงเล็ก ๆ บนเนื้อใบ แต่อาการนี้เกิดขึ้นน้อยมาก อีกอาการที่พบคือ อาการเป็นรอยปื้นแดงบนกาบใบ อาการเส้นกลางใบแดงจะไม่ทำให้อ้อยเสียหายมาก
            <li>การแพร่ระบาด</li> 
            - เชื้อติดไปกับท่อนพันธุ์ที่เป็นโรค<br>
            - เชื้อรา Colletotrichum falcatum เข้าทำลายได้ตามรอยแผลที่เกิดจากหนอนหรือแผลแตกของลำ<br>
            - โรคจะระบาดรุนแรงในพื้นที่ที่มีความชื้นสูง เช่น ในเขตชลประชานหรือที่นา<br>

            <br>
            </p>
            
            
        </div>
    </div>
    <br>
    <br>
    <br>
    <style>
        .about-container{
            width:80%;
            height:100%;
            background:#fdffff;
            border-radius:20px;
            box-shadow:2px 2px 12px rgba(0,0,0,0.2);
            display: flex;
            margin: -7%  auto 20px auto;
            justify-content:space-evenly;
            align-items: center;
           }
         
           .about-text{
            width:90%;
            
           } 
           .about-text ul{
            font-size:20px;
           }
           .about-text img{
            width:30%; 
            height:30;
            
           } 

           .about-text p:nth-child(1){
            color:#403e3e;
            font-family: 'Prompt', sans-serif;
            font-weight:bold;
            font-size:22px;
            line-height:0px;
           }
           .about-text p:nth-child(2){
            color:#3e3d3d;
            font-size:24px;
            font-family: 'Prompt', sans-serif;
            font-weight:bold;
            line-height:0px;
           }
           .about-text p:nth-child(3),.about-text p:nth-child(4){
            color:#7e7d7d;
            font-family: 'Prompt', sans-serif;
            font-size:12px;
           }
          

    </style>

{% endblock  %}
