{% extends 'base.html' %}

{%block bodyblock %}
<br>
    <br>
    <br>
    <br>
        <br>
    <br>
<div class="about-container">

        <div class="about-text">
        <br>
            <h1>เว็บไซต์วินิจฉัยโรคในใบอ้อยโดยใช้เทคนิคการเรียนรู้เชิงลึกกรณีโรคเส้นกลางใบแดง   </h1>
       <p>จัดทำโดย นนทวัฒน์ วิชาผา, ปิยวัฒน์ ประสมทรัพย์ </p>
            <ul> ความเป็นมาและความสำคัญของปัญหา</ul>
<li>จากการสอบถามเกี่ยวกับปัญหาโรคในใบอ้อยจากนักส่งเสริม โรงงานน้ำตาลมิตรผล เขตกุฉินารายณ์ จังหวัดกาฬสินธุ์ 
    เกี่ยวกับปัญหาที่ได้พบจากการสอบถามของเกษตรกรในเขตพื้นที่กุฉินารายณ์ เกษตรกรในพื้นที่นั่นส่วนมากได้สอบถามเกี่ยวกับลักษณะ
    ของใบอ้อยว่ามีลักษณะ ใบขาว ใบดำ ใบจุดสีน้ำตาล เกิดจากสาเหตุอะไร และมีวิธีแก้ไขอย่างไร </li>
    <li>จากปัญหาดังกล่าวผู้จัดทำโครงการจึงมีแนวคิดในการพัฒนา Web Application เพื่อการวินิจฉัยโรคในใบอ้อย
    เพื่อให้สามารถวินิจฉัยและบอกคำแนะนำในการแก้ปัญหากับผู้ใช้งานหรือเกษตรกร โดยผู้ใช้งานหรือเกษตรกรทำการเพิ่มรูปใบอ้อยใน
     Web Application การวินิจฉัยทำได้จากการนำรูปภาพที่ส่งเข้ามา มาวิเคราะห์ผ่านกระบวนการ การเรียนรู้เชิงลึก (Deep Learning) โ
     ดยใช้รูปแบบ Convolutional Neural Network เมื่อทำการวิเคราะห์เสร็จ Web Application จะส่งข้อมูลตอบกลับโดยในข้อมูลตอบกลับ
     จะประกอบไปด้วย ชื่อของโรค ร้อยละการเกิดโรค และที่วิธีแก้ไขปัญหา ทำให้ผู้ใช้งานหรือเกษตรกรรู้วิธีแก้ไขปัญหาและแก้ไขปัญหาอย่างถูกวิธี 
     </li>

<ul> วัตถุประสงค์ของโครงการ</ul>
 <li>  เพื่อศึกษา วิเคราะห์ วิธีสร้าง Web Application เกี่ยวกับการวินิจฉัยโรคในใบอ้อยที่สามารถ เพิ่ม ลบ แก้ไข และดูแลระบบได้ </li> 
    <li> เพื่อศึกษา วิเคราะห์ ออกแบบสร้าง Web Application เกี่ยวกับการวินิจฉัยโรคในใบอ้อย ให้สามารถวินิจฉัยโรคผ่านใบอ้อยได้ด้วยตนเอง</li> 
        <li>  เพื่อศึกษา วิเคราะห์ ออกแบบสร้าง Web Application เกี่ยวกับการวินิจฉัยโรคในใบอ้อย ที่ใช้เทคโนโลยีเกี่ยวกับการเรียนรู้เชิงลึก (Deep Learning) โดยใช้รูปแบบ Convolutional Neural Network มาวิเคราะห์รูปภาพ</li> 

        <ul>ขอบเขตของโครงการ</ul>
        Web Application เกี่ยวกับการวินิจฉัยโรคในใบอ้อย ประกอบด้วยระบบงานที่สามารถประมวลผลรูปภาพที่ส่งเข้ามาใน
Web Application และส่งข้อมูลการวินิจฉัยตอบกลับ โดยข้อมูลประกอบไปด้วย ชื่อของโรค ร้อยละการเกิดโรค 
และที่วิธีแก้ไขปัญหา ทำให้ง่ายต่อการใช้งานและแก้ปัญหาอย่างถูกวิธี <br><br>
<li>ผู้ใช้งานสามารถเข้าใช้งานผ่าน url ของเว็บไซต์</li>
    <li> ผู้ใช้งานส่งรูปภาพเข้ามา Web Application เพื่อทำการวินิจฉัย</li>
        <li>Web Application สามารถวินิจฉัยโรคในใบอ้อยได้ และส่งข้อมูลการวินิจฉัยตอบกลับ โดยข้อมูลประกอบไปด้วย ชื่อของโรค วันเวลาที่วิเคราะห์ ร้อยละการเกิดโรค และที่วิธีแก้ไขปัญหา</li><br>
	ระบบจัดการข้อมูลเกี่ยวกับโรคในใบอ้อย จะมีข้อมูลเกี่ยวกับโรคในใบอ้อยที่มีข้อเกี่ยวกับโรคอ้อยที่ประกอบด้วยโรค โรคเส้นกลางใบแดง จะมีภาพตัวอย่างของโรคไว้เปรียบเทียบกับโรคที่ Web Application ส่งเข้ามา<br><br>
    <li>ผู้ดูแลระบบสามารถ เพิ่ม ลบ และแก้ไข้ข้อมูลของโรคในใบอ้อยได้</li>
        <li> ผู้ดูแลระบบสารถพัฒนาระบบให้มีประสิทธิภาพมากยิ่งขึ้นได้</li>

        <ul>ประโยชน์ที่คาดว่าจะได้รับ</ul>
<li>ได้ Web Application วินิจฉัยโรคในอ้อยที่มีเทคโนโลยีเทคโนโลยีการเรียนรู้เชิงลึก (Deep Learning) โดยใช้รูปแบบ Convolutional Neural Network มาวิเคราะห์รูปภาพ</li> 
<li>ได้รู้และเข้าใจการสร้าง Web Application ที่สามารถวินิจฉัยโรคในใบอ้อยได้</li> 
<li> ได้รู้และเข้าวิธีการแก้ไขปัญหาโรคในใบอ้อยเบื้องต้น</li> 
<li>ช่วยลดความเสียหายจากการทำลายของโรคอ้อยในช่วงเวลาเพราะปลูกของเกษตรกร</li> 
<li>ได้ความรู้ความเข้าใจในการแก้ไขปัญหาโรคในใบของเกษตรกรอย่างถูกวิธี</li> 
<br>
            
            
        </div>
    </div>
    <br>
    <br>
    <br>
    <style>
        .about-container{
            width:80%;
            height:100%;
            background:#fdffff;
            border-radius:20px;
            box-shadow:2px 2px 12px rgba(0,0,0,0.2);
            display: flex;
            margin: -7%  auto 20px auto;
           
            justify-content:space-evenly;
            align-items: center;
           }
         
           .about-text{
            width:90%;
            
           } 
           .about-text ul{
            font-size:20px;
           }

           .about-text h1{
            color:#3e3d3d;
            font-size:24px;
            font-family: 'Prompt', sans-serif;

            width: 100%;
           }
           .about-text p:nth-child(3),.about-text p:nth-child(4){
            color:#7e7d7d;
            font-family: 'Prompt', sans-serif;
            font-size:12px;
           }
          

    </style>

{% endblock  %}