{% extends 'base.html' %}

{%block bodyblock %}
<br>
    <br>
    <br>
    <br>
        <br>
    <br>
<div class="about-container">
    <!--img-->
   
    <!--about-me-text-->
        <div class="about-text">
        <br>
 <h1>Convolutional Neural Network (CNN)  </h1>
            <p>จัดทำโดย นนทวัฒน์ วิชาผา, ปิยวัฒน์ ประสมทรัพย์ </p><br>
            <div align= "center">
                <img src="static/image/Cover.png"  >
               
            </div>
            <p><ul> Convolutional Neural Network</ul>
Convolutional Neural Network คือ Neural Network แบบหนึ่งที่มักถูกนำมาใช้ในงาน Computer Vision หรือ วิเคราะห์รูปภาพ เช่น  จำแนกรูปภาพ, Object Detection ตรวจจับวัตถุ, เรียนรู้จดจำใบหน้า เป็นต้น
<br><br>
<li>หลักการ Convolutional Neural Network </li> 
Convolutional Neural Network คือ Deep Learning อัลกอริทึม ที่จะรับ Input เป็นรูปภาพ แล้วเรียนรู้ Feature ต่าง ๆ ของรูปภาพเหล่านั้น ในแต่ละ Layer ต่อยอดขึ้นไปเรื่อย ๆ ตั้งแต่ จุด, เส้นแนวตั้ง, เส้นแนวนอน, เส้นแนวทแยง, กากบาท, มุม, เส้นโค้ง, วงกลม, พื้นผิว, ลวดลาย, ดวงตา, ใบหน้า, ไปจนถึง วัตถุที่เรากำหนด
            <div align= "center">
                <img src="static/image/cnn.jpg"  >
               
            </div><br>
<br>

<br>
            </p>
            
            
        </div>
    </div>
    <br>
    <br>
    <br>
    <style>
        .about-container{
            width:80%;
            height:100%;
            background:#fdffff;
            border-radius:20px;
            box-shadow:2px 2px 12px rgba(0,0,0,0.2);
            display: flex;
            margin: -7%  auto 20px auto;
           
            justify-content:space-evenly;
            align-items: center;
           }
         
           .about-text{
            width:90%;
            
           } 
           .about-text ul{
            font-size:22px;
           }
           .about-text img{
            width:90%; 
            height:90%;
            
           } 

           .about-text h1{
            color:#3e3d3d;
            font-size:24px;
            font-family: 'Prompt', sans-serif;
            width: 100%;
           }
           .about-text p:nth-child(3),.about-text p:nth-child(4){
            color:#7e7d7d;
            font-family: 'Prompt', sans-serif;
            font-size:12px;
           }
          

    </style>

{% endblock  %}
