{% extends 'base.html' %}

{%block bodyblock %}
<br>
    <br>
    <br>
    <br>
        <br>
    <br>
<div class="about-container">
    <!--img-->
   
    <!--about-me-text-->
    <div class="about-text">
        <br>
            <p>วินิจฉัยโรคในใบอ้อย </p>
            <p>จัดทำโดย นนทวัฒน์ วิชาผา, ปิยวัฒน์ ประสมทรัพย์ </p><br>
            <div align= "center" >
                <img src="static/image/web.png"  width="80%" height="80%">
               
            </div><br>
            <ul> ภาพรวมระบบ</ul>
           Web Application การวินิจฉัยทำได้จากการนำรูปภาพที่ส่งเข้ามา มาวิเคราะห์ผ่านกระบวนการ การเรียนรู้เชิงลึก (Deep Learning) โดยใช้รูปแบบ Convolutional Neural Network เมื่อทำการวิเคราะห์เสร็จ Web Application จะส่งข้อมูลตอบกลับ
            <br><br>
        
            </p>   
        </div>
    </div>
    <br>

    

          <div align="center" >
            <a class="button button1" href="{{ url_for('gender') }}">ทำการวินิจฉัย</a> 
            <a class="button button1" href="{{ url_for('help') }}">วิธีการใช้งาน</a>
        </div>
            <br>
    <br>
    <style>
        .about-container{
            width:80%;
            height:100%;
            background:#fdffff;
            border-radius:20px;
            box-shadow:2px 2px 12px rgba(0,0,0,0.2);
            display: flex;
            margin: -7%  auto 20px auto;
           
            justify-content:space-evenly;
            align-items: center;
           }
         
           .about-text{
            width:90%;
            
           } 
           .about-text ul{
            font-size:22px;
           }

           .about-text p:nth-child(1){
            color:#403e3e;
            font-family: 'Prompt', sans-serif;
            font-weight:bold;
            font-size:22px;
            line-height:0px;
           }
           .about-text p:nth-child(2){
            color:#3e3d3d;
            font-size:24px;
            font-family: 'Prompt', sans-serif;
            font-weight:bold;
            line-height:5px;
           }
           .about-text p:nth-child(3),.about-text p:nth-child(4){
            color:#7e7d7d;
            font-family: 'Prompt', sans-serif;
            font-size:16px;
           }
          

      
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 1px 2px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
            }

            .button1 {
                background-color: white; 
                color: black; 
                border: 2px solid #4CAF50;
            }

            .button1:hover {
                background-color: #4CAF50;
                color: white;
            }
    </style>

{% endblock  %}
